body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#header_area{
    background: #fff;
    padding: 10px 0;
    box-shadow: 1px 1px 5px #ccc;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.5s ease;
}
.main_head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo_area img{
    width: 50%;
}
.navbar_area ul{
    display: flex;
    list-style: none;
}
.navbar_area ul li{
    margin: 0 20px;
}
.navbar_area ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.navbar_area ul li a:hover{
    color: #007BFF;
}
.icon_area a{
    font-size: 20px;
    margin: 0 5px;
    padding: 10px;
    border-radius: 50%;
}
.icon_area a:hover{
    color: #007BFF;
    background: rgb(208, 210, 212);
}
#home{
    background: #FBF8CC;
    width: 100%;
    height: 10%;
}
.home_area{
    display: flex;

}
.text_area{
    margin: 100px 200px;
}
.text_area h3{
    font-size: 50px;
    font-weight: 700;
}
.text_area h3 span{
    color: #007BFF;
}
.text_area p{
    font-size: 20px;
    color:black;
}
.text_area a{
    text-decoration: none;
    color: #fff;
    background: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
}
.text_area a:hover{
    background: black;
}
.image_area{
    width: 50%;
}
.image_area img{
    width: 50%;
    border-radius: 100%;
    margin: 100px 200px;
    clip-path: circle(40%);
}
#about{
    margin: 0 300px;
}
#about h2{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: orange;
}
.about_area , .about_section{
    display: flex;
    align-items: center;
}
.about_text{
    width: 50%;
}

.about_image img {
    width: 400px;
    margin: 55px 0;
}
.about_text p{
    font-size: 17px;
    line-height: 30px;
}
.about_texi p{
    margin: 0 200px;
    font-size: 17px;
    line-height: 30px;
}
.about_section{
    align-items: center;
}
.about_img img{
    width: 400px;
    margin: 55px 0; 
}

#work{
    margin: 0 300px;
}
#work h2{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: orange;
}
.main_work{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_work .sub_work{
    width: 30%;
    border: 1px solid #ccc;
    background: #2de6f3;
    box-shadow: 5px 5px 10px #ccc;
    margin: 20px 0;
    border-radius: 10px;
}
.main_work .sub_work img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.main_work .sub_work h3{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #007BFF;
}
.main_work .sub_work p{
    text-align: center;
    font-size: 15px;
    color: #000;
    padding: 10px;
}

#contact{
    margin: 60px 300px;
}
#contact h2{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: orange;
}
.contact_area{
    text-align: center;
}
.contact_form input {
    width: 50%;
    height: 37px;
    margin: 10px;
    font-size: 18px;
}
.contact_form textarea {
    width: 50%;
    height: 100px;
    margin: 10px;
    font-size: 18px;
}
.contact_form button {
   padding: 10px 20px;
   font-size: 20px;
   border-radius: 10px;
    background: #007BFF;
    border: none;
    color: #fff;
    cursor: pointer;
}
.contact_form button:hover {
    background: black;
}

.coppyright{
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    background-color: #262626;
}
.foorter_short{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2de6f3;
}
.footer_area_short img{
    width: 50%;
}
.footer_area_short h3{
    font-size: 25px;
    font-weight: 700;
    color: black;
}
.footer_area_short ul{
    list-style: none;
    padding: 0 5px;
}
.footer_area_short ul li{
    margin: 10px 0;
}
.footer_area_short ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.icon a{
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
}
.icon a:hover{
    color: #007BFF;
    background: rgb(208, 210, 212);
}